<h1>Order Summary</h1>

<div class="well">
	<h1>
		<% @carted_products.each do |carted_product| %>
		<h3><%= carted_product.gelato.flavor %> - <%= carted_product.gelato.price %> X <%= carted_product.quantity %></h3>
		<% end %>

		<div>
			Subtotal: <%= number_to_currency(@order.subtotal) %>
		</div>

		<h3>
			<div>
				Tax: <%= number_to_currency(@order.tax) %>
			</div>
		</h3>

		<div>
			Total: <%= number_to_currency(@order.total) %>
		</div>

	</h1>	
</div>