<h1>Edit Recipe</h1>

<%= form_tag "/recipes/#{@recipe.id}", method: :patch do %>
	<div>
		Flavor <input type="text" name="flavor" value="<%= @gelato.flavor %>">
	</div>

	<div>
		Price	<input type="text" name="price" value="<%= @gelatos.price %>">
	</div>

	<div>
		Image: <input type="text" name="image" value="<%= @gelato.image %>">
	</div>

	<div>
		Description <input type="text" name="description" value="<%= @gelato.description %>">
	</div>

	<input type="submit" value="Update Recipe">

	<%end%>