<h1>Cookbook App</h1>

<% @gelatos.each do |gelato| %>
	<h2><a href = "/gelatos/<%=gelato.id%>"><%= gelato.flavor %></a></h2>
	<img src = <%= gelato.image %> >
	<h4><%= gelato.price %></h4>
	<h3><%= gelato.description %></h3>
	<br>
<%end%>
