	<h2><%= @gelato.flavor %></h2>
	<img src = <%= @gelato.image %> >

	<h4><%= @gelato.sale_message %></h4>
	<p>class='<%= "red-price" if @gelato.discounted? %>'>Price: <%= number_to_currency(@gelato.price) %></p>
	<h4><%= number_to_currency(@gelato.tax) %></h4>
	<h4><%= @gelato.total %></h4>

	<h3><%= @gelato.description %></h3>

	<div class="col-md-6">
		<img src="<%= @gelato.first_image_url %>" alt="<%= @gelato.flavor %>" class="img-responsive show-product">
	</div>

	<h5><%= @gelato.supplier.name %></h5>

	<%= form_tag '/orders', method: :post do %>
		<h3>Product ID:<input type="text" name="gelato_id" value=<%= @gelato.id %>></h3>
		<h3>Quantity:</h3><input type="text" name="quantity" value="1">
		<%= submit_tag "Buy Now!"  %>	
	<% end %>

	<div>
	
	</div>

	<a href="/gelatos/<%= @gelato.id %>/edit">Edit Recipe</a>
	<%= link_to "Delete", "/gelatos/#{ @gelato.id }", method: :delete %>