	<h2><%= @gelato.flavor %></h2>
	<img src = <%= @gelato.image %> >

	<h4><%= @gelato.sale_message + @gelato.tax %></h4>

	<h3><%= @gelato.description %></h3>

	<a href="/gelatos/<%= @gelato.id %>/edit">Edit Recipe</a>
	<%= link_to "Delete", "/gelatos/#{ @gelato.id }", method: :delete %>